*{
    box-sizing: border-box;
    margin: 0;
}
.visual_div{
    width: 288px;
    height: 56px;
    border-radius: 12px;
    background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.visualtxt{
    color: var(--Dark-Navy, #303B59);
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Hanken Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.vis_span{
    opacity: 0.5;
}